<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                   
                </div>
                <form >
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">First Name</label>
                        <input fromControlName=" fname1" type="text" class="form-control" id="fname" aria-describedby="emailHelp" placeholder="Enter your first name">
                        
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Last Name</label>
                        <input fromControlName=" lname1" type="text" class="form-control" id="lname" placeholder="Enter your last name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input fromControlName=" Username1" type="text" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="your username">
                        
                    </div>
                    
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Password</label>
                        <input fromControlName=" Password1" type="text" class="form-control" id="Password1" aria-describedby="emailHelp" placeholder="password">
                       
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                        <input fromControlName=" CPassword1" type="text" class="form-control" id="CPassword1" placeholder="confirm password">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <a  routerLink="/login">Already registerd? Click to signIn</a>

            </div>
        </div>
    </div>
</div>


