<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="row" *ngFor="let cartItem of cartItems">
        <div class="col-1">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="col-2">
          <img [src]="cartItem?.image" alt="" style="width: 100%;" />
        </div>
        <div class="col-4">
          <h2>{{ cartItem?.productname }}</h2>
          <h4>{{ cartItem?.price }}</h4>
        </div>
        <div class="col">
          <input type="number" [formControl]="quantity" />
        </div>
      </div>
    </div>
    <div class="col-4" style="background-color: red;">

    </div>
  </div>

</div>
