
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login to Top15</h1>
                    <h6> Please enter login details</h6>
                </div>
                <form >
                    <div class="mb-3">
                        
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input formControlName="ëmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                       
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="Password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    
                    <button  type="submit" class="btn btn-primary"[routerLink]="['/navbar']">Login</button>
                </form>
                <a  routerLink="/signup">New user? Click to signup</a>

            </div>
        </div>
    </div>
</div>